([
  ({
    name: "狌",
    intor: "一种长着人脸的野兽，知晓往事却不知未来。白色的耳朵,可以匍匐，也可直立行走。",
    hp: 10,
    atk: 1,
  },4),
  ({
    name: "訑",
    intor: "未知",
    hp: 20,
    atk: 2,
  },3),
  ({
    name: "付",
    intor: "未知",
    hp: 30,
    atk: 3,
  },2),
  ({
    name: "灌",
    intor: "未知",
    hp: 40,
    atk: 4,
  },1),
])