([
    ([
        Up,
    ], 1),
    ([
        Up,
        Up,
    ], 1),
    ([
        Left,
    ], 1),
    ([
        Left,
        Left,
    ], 1),
    ([
        Down,
    ], 1),
    ([
        Down,
        Down,
    ], 1),
    ([
        Right,
    ], 1),
    ([
        Right,
        Right,
    ], 1),
    // 2x2 rooms
    ([
        Left,
        Up,
        Right,
    ], 3),
    ([
        Right,
        Up,
        Left,
    ], 3),
    ([
        Up,
        Left,
        Down,
    ], 3),
    ([
        Down,
        Left,
        Up,
    ], 3),
    // 3x3 rooms
    ([
        Left,
        Left,
        Up,
        Up,
        Right,
        Down,
        Right,
        Up,
    ], 2),
    ([
        Right,
        Right,
        Up,
        Up,
        Left,
        Down,
        Left,
        Up,
    ], 2),
    ([
        Up,
        Up,
        Left,
        Left,
        Down,
        Right,
        Down,
        Left,
    ], 2),
])