([
  ((
    name: "甲",
    image_label: "textures/values/empty.png",
    intro: "一件护甲",
    values: [
      PlayerDef(Fixed(1)),
    ],
  ),1),
  ((
    name: "棍",
    image_label: "textures/values/empty.png",
    intro: "一根木棍",
    values: [
      PlayerAtk(Fixed(1)),
    ],
  ),1),
  ((
    name: "泉",
    image_label: "textures/values/empty.png",
    intro: "一口山泉",
    values: [
      PlayerCurrentHp(Float(2,12)),
    ],
  ),1),
  ((
    name: "魂",
    image_label: "textures/values/empty.png",
    intro: "一些魂魄",
    values: [
      PlayerGold(Float(1,4)),
    ],
  ),1),
])